{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "remote-control-ui",
  "main": "_worker.js",
  "compatibility_date": "2026-05-05",
  "observability": {
    "enabled": true
  },
  "kv_namespaces": [
    {
      "binding": "LOCATION_KV",
      "id": "YOUR_KV_NAMESPACE_ID"
    }
  ],
  "assets": {
    "directory": ".",
    "binding": "ASSETS"
  },
  // "routes": [
  //   {
  //     "pattern": "your-subdomain.yourdomain.com",
  //     "zone_name": "yourdomain.com",
  //     "custom_domain": true
  //   }
  // ],
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "remote_control_ui",
      "database_id": "YOUR_D1_DATABASE_ID"
    }
  ],
  "triggers": {
    "crons": ["* * * * *"]
  }
}
